@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .popover-btn {
    @apply 
      w-[39px] h-[39px] p-2 ml-2 
      rounded-full 
      bg-fb-popover 
      hover:bg-fb-popover-hover-on
      dark:bg-fb-popover-dark
      dark:hover:bg-fb-popover-hovering-dark
      flex justify-center items-center 
      cursor-pointer
      active:bg-fb-active;
  }
  .popover-panel {
    @apply 
      w-[300px] p-2 
      bg-fb-header dark:bg-fb-header-dark
      rounded-lg shadow-lg 
      absolute right-0 top-12 
      border border-fb-input dark:border-fb-input-dark
      lg:w-[360px];
  }
  .story {
    @apply flex-1 px-[4px] min-w-[120px] cursor-pointer;
  }
  .card {
    @apply rounded-lg mt-4 px-4 py-0 bg-fb-card dark:bg-fb-card-dark;
  }
}

/*  Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* Swiper Custoumized Setting */

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  border-radius: 9999px;
  width: 48px !important;
  height: 48px !important;
  top: 30px !important;
}

.swiper-button-prev {
  border-radius: 9999px;
  width: 48px !important;
  height: 48px !important;
  top: 30px !important;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-slide {
  margin: 2px;
  display: flex;
  align-items: center;
}